# updates runs gmail unread mail count hourly
# sudo systemctl enable gmail.timer

[Unit]
Description=runs gmail unread mail count hourly
 
[Timer]
OnBootSec=1min
OnCalendar=*-*-* *:00:00
Persistent=true
Unit=gmail.service
 
[Install]
WantedBy=timers.target
