[Unit]
Description=Runs market update service every hour 9-4,M-F
 
[Timer]
OnCalendar=Mon..Fri 9..16:00
Persistent=true
OnBootSec=1min 
Unit=market.service

[Install]
WantedBy=timers.target
