[Unit]
Description=updates event calendar service nightly
 
[Timer]
OnCalendar=*-*-* 00:10:00
Persistent=true
OnBootSec=1min
Unit=natday.service
 
[Install]
WantedBy=timers.target
