# updates National Day calendar js 
# sudo systemctl enable natday.service

[Install]
WantedBy=multi-user.target

[Unit]
Description=Update calendar event info

[Service]
LogLevelMax=2
Type=simple
ExecStart=sh /run/media/hammer/Data/projects/calendar/natday.sh
