# updates weather js 

[Install]
WantedBy=multi-user.target


[Unit]
Description=Update temp files 60 min intervals

[Service]
LogLevelMax=2
Type=oneshot
ExecStart=node /run/media/hammer/Data/projects/nodejs-weather-app-master/
