# updates weather js 

[Install]
WantedBy=multi-user.target


[Unit]
Description=Update temp files 30 min intervals

[Service]
LogLevelMax=2
Type=oneshot
ExecStart=sh /run/media/hammer/Data/projects/weather.sh
